:root {
    --primary-color: /*#283D3B*/ #292929;
    --secondary-color: white;
    --primary-font: 'PT Serif';
    --secondary-font: 'Inter';
}

.navbar {
    background-color: var(--primary-color) !important;
    filter: drop-shadow(0px 3px 3px /*#192524*/ #000000);
}

#accent-text {
    font-family: var(--primary-font), serif;
    color: var(--secondary-color);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}

#title {
    font-family: var(--primary-font), serif;
    font-weight: 600;
    color: var(--primary-color);
    font-size: 80px;
    text-align: center;
}

#title-descrip {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    font-size: x-large;
    text-align: center;
}

#ss {
    display: flex;
    max-width: 25em;
    max-height: 25em;
}

.dark-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--primary-color);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.light-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 4em;
    padding-right: 4em;
}

.subcontent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#light-header {
    font-family: var(--primary-font), serif;
    font-weight: 600;
    color: var(--secondary-color);
    text-align: center;
}

#dark-header {
    font-family: var(--primary-font), serif;
    font-weight: 600;
    color: var(--primary-color);
    text-align: center;
}

#dark-subheader {
    font-family: var(--primary-font), serif;
    color: var(--primary-color);
    text-align: left;
}

#light-subheader {
    font-family: var(--primary-font), serif;
    color: var(--secondary-color);
    text-align: left;
}

#light-body-tx {
    font-family: var(--secondary-font), sans-serif;
    color: var(--secondary-color);
    font-style: normal;
    font-size: large;
    /* text-align: center; */
    /* padding-left: 3em;
    padding-right: 3em; */
}

#dark-body-tx {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    font-style: normal;
    font-size: large;
    text-align: left;
}

#dark-body-subtx {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    font-style: normal;
    font-size: medium;
    text-align: left;
}

#light-list-tx {
    font-family: var(--secondary-font), sans-serif;
    color: var(--secondary-color);
    font-size: large;
    text-align: left;
    /* margin-right: 15em; */
    margin-left: 3em;
}

#light-bold-accent {
    color: #C0F5E9;
}

#light-link {
    font-family: var(--secondary-font), sans-serif;
    color: /*#EDDDD4*/ #DAECEC;
}

#dark-link {
    font-family: var(--secondary-font), sans-serif;
    color: /*#197278*/ #32888B;
}

#dark-center-tx {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    font-size: large;
    text-align: center;
}

#dark-body-quote {
    font-family: var(--secondary-font), sans-serif;
    color: var(--primary-color);
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: 600;
    padding-left: 5em;
    padding-right: 5em;
}

#drop-bod {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#accord-bullets {
    padding-right: 1em;
}

#accord-img {
    max-width: 100%;
    height: auto;
}

#foot {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding-top: 0.5em;
}

#foot-tx {
    font-family: var(--primary-font), serif;
    text-align: center;
    color: var(--secondary-color);
}